<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>AlexWelch.com</title>
  </head>
  <body>
    <ul>
      <li class="github">
        <%= link_to(content_tag(:em, 'github'), 'http://github.com/alexwelch', title: "alexwelch's Profile - GitHub") %>
      </li>
      <li class="twitter">
        <%= link_to(content_tag(:em, 'twitter'), 'http://twitter.com/anwelch', title: "Alex Welch (anwelch) on Twitter") %>
      </li>
      <li class="linked-in">
        <%= link_to(content_tag(:em, 'linked in'), 'http://www.linkedin.com/in/anwelch', title: "Alex Welch  | LinkedIn") %>
      </li>
      <li class="flickr">
        <%= link_to(content_tag(:em, 'flickr'), 'http://flickr.com/anwdesign', title: "Flickr photo stream") %>
      </li>
      <li class="facebook">
        <%= link_to(content_tag(:em, 'facebook'), 'http://www.facebook.com/anwelch', title: "Alex Welch") %>
      </li>
    </ul>
  </body>
</html>
